{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_main.css'%}">

<div class="main_body">
    <div class="left_body">
        <div class="border feed_box">
            {% for feed in feed_list %}
            <div class="feed_name">
                <div class="profile_box">
                    <img class="profile_img"
                        src="{% get_media_prefix%}{{feed.email.profile_image}}">
                </div>
                <span class="feed_name_txt"> {{feed.email.nickname}}</span>
            </div>
            <img class="feed_img "
                src="{% get_media_prefix%}{{feed.image}}">
            <div class="feed_icon">
                <div>
                    <span class="material-icons-outlined">
                        favorite_border
                    </span>
                    <span class="material-icons-outlined">
                        mode_comment
                    </span>
                    <span class="material-icons-outlined">
                        send
                    </span>
                </div>
                <div>
                    <span class="material-icons-outlined">
                      turned_in_not
                    </span>
                  </div>
            </div>
            <div class="feed_like">
                <p class="feed_txt"> <b>좋아요 10개
                    
                </b></p>
              </div>
            <div class="feed_content">
                <p class="feed_txt"> <b> jin.99 </b> 코로나라서 해외여행을 못가니 최근 제주도 가는사람이 늘고있습니다~ 제주도도 조심해야되는건 마찬가지~!</p>
            </div>
            <div class="feed_reply">
                <span class="feed_txt"> <b> mychew </b> 제주도 가고 싶어요 ㅠㅠ</span>
                <span class="feed_txt"> <b> cho </b> 제주도 ㄱ ㄱ </span>

            </div>
            {% endfor %}
        </div>
    </div>
    <div class="right_body">
        <div class="feed_name" style="justify-content: space-between;">
            <div style="display: flex; align-items:center;">
                <div class="big_profile_box">
                    <img class="profile_img"
                        src="{% get_media_prefix%}{{user.profile_image}}">
                </div>
                <div class="name_content">
                    <span class="feed_name_txt">{{user.nickname}}</span>
                    <span class="name_content_txt">{{user.nickname}}</span>
                </div>                
            </div>    
            <a href="" class="link_txt btn btn-primary">전환</a>
        </div>

        <div class="recommend_box">
            <span style="color: gray">회원님을 위한 추천</span>
            <span style="font-size: 12px;">모두 보기</span>
        </div>
        <div>
            <div class="feed_name" style="justify-content: space-between">
                <div class="profile_box">
                  <img class="profile_img"
                       src="https://i.pinimg.com/736x/93/a6/8b/93a68b57a54e4bdc73d43d1d049b94b3.jpg">
                </div>
                <div class="name_content">
                  <span class="feed_name_txt"> dation3388 </span>
                  <span class="name_content_txt"> Jinstargram </span>
                </div>
                <a class="link_txt btn btn-primary">
                    팔로우
                  </a>
              </div>

              <div class="feed_name" style="justify-content: space-between">
                <div class="profile_box">
                  <img class="profile_img"src="http://file3.instiz.net/data/cached_img/upload/2021/01/27/18/2ce2f41f7e9f09c0acc77faac7452dbf.jpg">
                </div>
                <div class="name_content">
                    <span class="feed_name_txt"> gaoudi </span>
                    <span class="name_content_txt"> IU 외 5명이 팔로우</span>
                  </div>
                  <a class="link_txt btn btn-primary">
                    팔로우
                  </a>
                </div>
        </div>
        <div class="comment_box">
            <span> 인스타그램 클론 코딩 </span>
            <span> Multicampus Hanstagram </span>
            <br>
            <span> 2022 09 29 </span>
      
          </div>
    </div>
</div>
{%endblock%}